.footer {
    height: 300px;
    color: white;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    position: relative;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.footer-contacts {
    margin-top: 10px; 
}

.footer-links {
    margin-top: 40px;
}

.footer h1 {
    font-size: 40px;
}

.footer a {
    color: white;
}

.footer a:hover {
    text-decoration: underline;
}