.footer {
    height: auto;
    color: white;
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    position: relative;
    padding-bottom: 50px;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.footer-contacts {
    margin-top: 10px; 
}

.footer-links {
    margin-top: 40px;
}

.footer h1 {
    font-size: 40px;
}

.footer a {
    color: white;
}

.footer a:hover {
    text-decoration: underline;
}

@media(max-width: 650px) {
    .footer .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 0;
        text-align: center;
    }
    .footer-links {
        margin-top: 0;
    }
}