.navbar {
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: #000066;
    color: #fff;
    height: 60px;
}

.navbar h1 {
    font-family: 'Lobster', sans-serif;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px rgb(129, 129, 129) solid;
    color: rgb(129, 129, 129);
}

.navbar .flex {
    justify-content: space-between;
}